/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 91px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 31.48px;
}

.header__links-list-item {
  position: relative;
  list-style: none;
}

.header__links-list-item:last-child {
  padding-left: 4px;
}

.header__links-list-item::before {
  content: '\25CB';
  position: absolute;
  top: -3px;
  left: -19px;
  font-size: 15px;
}

.header__links-list-item:last-child::before {
  left: -18px;
}

.header__links-list-item_no-bullit {
  border: none;
}

.header__links-list-item_no-bullit::before {
  display: none;
}

a.header__link {
  border-bottom: 1px solid #000;
  vertical-align: top;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.7;
  text-decoration: none;
}

a.header__link_active {
  border: none;
}

a.header__logo {
  display: block;
  width: 138px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  margin-top: -6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.header__address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 1;
  min-height: 300px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_padding-top {
  padding-top: 20px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.6px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 200px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.card__title-border {
  border-bottom: 1px solid #fff;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding: 30px 0 0 40px;
}

.lots__look-more-link a {
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 120px;
  padding: 35px 24px 0;
}

.about__column {
  display: flex;
  align-items: center;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
  margin: auto;
}

.about__title {
  padding: 10px 0 0 25px;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  gap: 24px;
  padding: 7px 3px 0 25px;
  font-size: 20px;
  line-height: 24px;
}
